#container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px 40px;
    grid-template-areas: "H H H H H H H H H H H H ";
}
.header{
 grid-area: H;
}
.content{
    grid-area: C;
}
.menu{
    grid-area: M;
}
.footer{
    grid-area: F;
}
